.passInputRoot {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.passInputContainer {
    width: 100%;
    padding: 12px 45px;
    padding-left: 45px; /* Space for the lock icon on the left */
    padding-right: 45px; /* Space for the eye icon on the right */
    border-radius: 35px;
    border: 1px solid rgb(175, 175, 175);
    font-size: 17px;
    outline: none;
    transition: 0.2s all;
}

.passInputContainer:focus {
    border: 2px solid hsl(142.1, 76.2%, 36.3%); /* Purple border on focus */
    color: hsl(142.1, 76.2%, 36.3%);
}

/* Lock icon (left side) */
.passIcon {
    position: absolute;
    left: 12px;
    font-size: 20px;
    color: rgb(175, 175, 175);
}

/* Eye icon (right side) */
.eyeIcon {
    position: absolute;
    right: 12px;
    font-size: 20px;
    color: hsl(142.1, 76.2%, 36.3%);
    cursor: pointer;
}

/* Adjust when input is focused */
.passInputRoot:focus-within .eyeIcon,
.passInputRoot:focus-within .passIcon {
    color: hsl(142.1, 76.2%, 36.3%); /* Change icon color on focus */
}
